@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
.media-scroller{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 43%;
    padding: 0 var(--size-3) var(--size-3) var(--size-3);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-element{
    display: grid;
    grid-template-rows: min-content;
    gap: var(--size-2);
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
}
.media-element > img{
    inline-size: 100%;
    aspect-ratio: 10 / 12;
    object-fit: cover;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--size-3);
}
.snaps-inline > *{
    scroll-snap-align: start;
}

/* navigation styles */
header{
    background: #c9d6ae;
    text-align: center;
    position: relative;
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    width: 45%;
}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0; 
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after{
    display: block;
    background: #565959;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label::before,
.nav-toggle-label::after{
    content: '';
    position: absolute;
}
.nav-toggle-label::before{
    bottom: 33px;
}
.nav-toggle-label::after{
    top: 33px;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #c9d6ae;
    width: 100%;
    display: none;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    color: #565959;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
nav a:hover{
    color: #fff;
}
.nav-toggle:checked ~ nav{
    display: block;
}

footer{
    background: #c9d6ae;
}